[req]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[dn]
CN = cooler_server

[v3_req]
# Nur notwendig für Certificate Signing Requests (CSRs), aber wir lassen es drin
subjectAltName = @alt_names

# --- NEUER ABSCHNITT FÜR X.509 ZERTIFIKATSERWEITERUNGEN ---
[v3_ca]
# Dies ist der entscheidende Teil, der die SAN-Liste in das -x509-Zertifikat schreibt
subjectAltName = @alt_names

[alt_names]
DNS.1 = cooler_server
DNS.2 = localhost
IP.1 = 127.0.0.1
