[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }
gm-quic = { workspace = true }
rustls = { workspace = true }
tokio = { workspace = true }
rustls-native-certs = "=0.8.2"
